@import 'variables';
@import 'icons';
// Apply MDC theme
@import '@material/theme/mdc-theme';
@import '@material/theme/mixins';
@import 'mdc-custom';

%block-padding {
  padding: $block-margin;
}

%block-margin {
  margin: $block-margin;
}

%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%link-hover-bg {
  &:hover,
  &:focus {
    background-color: $color-bg-link-hover;
    cursor: pointer;
  }
}

html {
  font-size: 16px;
}

body {
  // reset user agent style
  margin: 0;
  background: $color-body-background;
}
