.mdc-toolbar__row--fluid-height {
  min-height: auto;
}

.mdc-toolbar__row--dense {
  padding: 10px 14px;

  .mdc-tab-bar {
    height: 36px;
  }
}

// Set margin to new toolbar height
.mdc-toolbar-fixed-adjust {
  margin-top: 56px;
}

// Selected tab indicator
.mdc-toolbar .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab::after {
  top: calc(100% - 2px);
}

.mdc-card {
  @include mdc-theme-prop(background-color, background);
}

// Use all available space
.mdc-card__primary {
  width: 100%;
}

.mdc-textfield {
  width: 100%;
  margin-bottom: 0;

  > .mdc-textfield__input {
    width: 100%;
  }
}

// Align Select height with text input
.mdc-select {
  // The same as for text field
  height: 26px;
  padding-left: 10px;
  // Fix triangle position
  background-position-x: calc(100% - 6px);
}

.mdc-button--icon-align {
  display: flex;
  align-items: center;

  > .icon {
    padding: 0 6px 0 0;
  }
}

// Icon button
.mdc-button--icon {
  min-width: auto;
  height: auto;
  padding: 6px;
  border-radius: 50%;
  font-size: 0;
  line-height: 1;
}

.mdc-button[disabled] > .icon {
  fill: $color-icon-dark-inactive;
}

.mdc-button:hover > .icon {
  fill: $color-icon-dark-focused;
}

.mdc-theme--dark {
  .icon {
    fill: $color-icon-light;
  }

  .mdc-button[disabled] > .icon {
    fill: $color-icon-light-inactive;
  }

  .mdc-button:hover > .icon {
    fill: $color-icon-light-focused;
  }
}

.mdc-fab {
  .icon {
    fill: $color-icon-dark-focused;
  }

  &[disabled] > .icon {
    fill: $color-icon-dark-inactive;
  }
}

// Dense dialog header
.mdc-dialog__header {
  padding-top: 12px;
  padding-bottom: 10px;
}

.mdc-dialog__body {
  // Make text darker
  @include mdc-theme-prop(color, text-primary-on-background);

  margin-top: 0;
}

.mdc-dialog__header__title {
  font-size: 1rem;
}

.mdc-dialog__body {
  padding: 24px;
}

.mdc-dialog__body--scrollable {
  $height: calc(100vh - 188px);
  // Get all vertical space for dialog content
  height: $height;
  max-height: $height;
}

.mdc-snackbar {
  // Show over overlay
  z-index: 3;

  &.is-warning {
    background-color: $shackbar-color-warning;
  }

  &.is-error {
    background-color: $shackbar-color-error;
  }
}

/*
// Uncomment to change input colors
.mdc-checkbox__native-control:checked~.mdc-checkbox__background {
  @include mdc-theme-prop(background-color, text-primary-on-light);
  @include mdc-theme-prop(border-color, text-primary-on-light);
}

.mdc-checkbox__background::before,
.mdc-radio__background::before,
.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle {
  @include mdc-theme-prop(background-color, text-primary-on-light);
}

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle {
  @include mdc-theme-prop(border-color, text-primary-on-light);
}
*/

.mdc-form-field {
  height: $form-field-height;
  white-space: nowrap;
}

