$options-body-min-width: 700px;
// Enough space for toolbar and add rule button
$options-body-min-height: 90px;

$popup-suggestion-list-min-width: 500px;

$block-margin: .5rem;

$color-body-background: rgba(0, 0, 0, .3);

$color-bg-link-hover: rgba(0, 0, 0, .06);

// #ff9800
$shackbar-color-warning: #f98b00;
// #d32f2f
$shackbar-color-error: #bf360c;

$mdc-theme-primary: #fbc02d;
$mdc-theme-accent: #fbc02d;
$mdc-theme-background: #fff;


