@import '@material/typography/mdc-typography';
@import '@material/toolbar/mdc-toolbar';
@import '@material/button/mdc-button';
@import '@material/fab/mdc-fab';
@import '@material/card/mdc-card';
@import '@material/textfield/mdc-textfield';
// Order matters for three next modules
@import '@material/list/mdc-list';
@import '@material/menu/mdc-menu';
@import '@material/select/mdc-select';
@import '@material/dialog/mdc-dialog';
@import '@material/snackbar/mdc-snackbar';
// Self
@import 'common';
@import 'bookmarks-modal';
@import 'rules-grid';

body {
  min-width: $options-body-min-width;
  min-height: $options-body-min-height;
  // reset user agent style
  margin: 0;
  background: $color-body-background;

  &::after {
    @include mdc-theme-prop(background-color, text-primary-on-light);

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 120ms 0ms cubic-bezier(0, 0, .2, 1);
    content: ' ';
    opacity: 0;
    z-index: -1;
  }

  &.is-loading::after {
    opacity: 1;
    z-index: 2;
  }
}
