@import '@material/typography/mdc-typography';
@import '@material/list/mdc-list';
@import '@material/button/mdc-button';
@import '@material/elevation/mixins';
@import 'common';

$suggestion-actions-height: 60px;

body {
  padding-bottom: $suggestion-actions-height;

  &.is-suggesting {
    padding-bottom: 0;
  }
}

.suggestion-progress-block,
.suggestion-has-match-block,
.suggestion-no-match-block,
.suggestion-actions {
  display: none;
}

.is-suggesting .suggestion-progress-block,
.has-match .suggestion-has-match-block,
.no-match .suggestion-no-match-block {
  display: block;
}

.suggestion-progress-block,
.suggestion-has-match-block,
.suggestion-no-match-block {
  @extend %block-padding;
}

.suggestion-no-match-block {
  @include mdc-theme-prop(color, text-hint-on-dark);

  white-space: nowrap;
}

.suggestions-list {
  @include mdc-elevation(2);
  @include mdc-theme-prop(background-color, background);

  @extend %block-padding;

  min-width: $popup-suggestion-list-min-width;
  border: 1px solid rgba(0, 0, 0, .1);
  overflow-y: auto;

  .mdc-list-divider {
    margin-top: $block-margin / 2;
    margin-bottom: $block-margin / 2;
  }
}

.suggestion-actions {
  @include mdc-elevation(4);
  @include mdc-theme-prop(background-color, background);

  @extend %block-padding;

  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  height: $suggestion-actions-height;
  border: 1px solid rgba(0, 0, 0, .1);

  .has-match &,
  .no-match & {
    display: flex;
  }

  .no-match & {
    justify-content: center;
  }
}

.folder-name {
  @extend %ellipsis;
  // limit folder name length
  max-width: $popup-suggestion-list-min-width - 120px;
}

// Hide bookmark icons initially
.bookmark-icon,
.bookmark-icon-selected {
  display: none;
}

// Show bookmark icon on hover. Change and keep it when selected
.suggestion-row {
  cursor: pointer;

  .mdc-list-item__start-detail {
    margin-right: 16px;
  }

  &:hover {
    .bookmark-icon {
      display: inline;
    }
  }

  &.is-selected {
    .bookmark-icon {
      display: none;
    }

    .bookmark-icon-selected {
      display: inline;
    }
  }
}
